@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700);

body {
	background: #fff url('../img.jpg');
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 1.1em;
	color: #666;
	font-weight: 300;
}

.icon{
    margin: 0px 50px;
}

#loc{
    margin-left: 65px;
}

#wind{
    color: lightskyblue;
    margin-left: 60px;
}

#atmo{
    color: limegreen;
    margin-left: 35px;
}

#astro{
    color: gold;
    margin-left: 30px;
}

#temp{
    color: red;
    margin-left: 55px;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #666;
	background: #ccc none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
	font-family: "Courier New", Courier, monospace;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #6C9636;
	border-bottom: 1px solid #6C9636;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #333;
	color: #333;
}

a:focus {
	outline: none;
}


a.button { 
  
    background: linear-gradient(#7AAA3C, #94C355);
    background-color: #75A239;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #5F842E;
    text-shadow: 1px 1px 0 #5F842E;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background:#7AAA3C;
}

a.button-reversed { 
	background: linear-gradient(#777, #999);
	background-color: #888;
        text-shadow: 1px 1px 0 #555;
	color: #fff;
	border-color: #555;
}

a.button-reversed:hover {
	background: #777;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
    padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

form input.formbutton {
    margin: 40px;
	border: none;
	background: #7BAB3D;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 0.8em;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 0.9em;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 2.7em;
	margin-bottom: 10px;
}

h2 {
	color: #666;
	font-size: 2.5em;
	letter-spacing: -1.5px;
	padding: 0 0 10px;
	margin: 0;
}

h3 {
	color: #444;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h4 {
    color: #7AAA3C;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
	padding: 0;
	list-style: disc;
}

li {
	padding-bottom: 10px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

.width {
	max-width: 95%;
	margin: 0 auto;
}


#container {
	background-color: #fff;
	max-width: 75%;
	margin: 0 auto;
}

header {
	padding: 5px 0 17px;
	margin: 0 auto;
    	background-color: #fff;
	text-align: left;
}



header h1 {
	margin: 0;
	float: left;
}

header h1 a, header h1 a:hover {
    color: #999;
    font-size: 1.4em;
    padding: 10px 5px;
    letter-spacing: -4px;
    border-bottom: none;
    display: block;

}

header h1 a strong {
	font-weight: normal;
	color: #75A239;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 33px 0 0 20px;
	text-align: left;
}

nav ul ul { 
	margin: 0 15px;
}

nav ul li {
	display: block;
	float: left;
	padding: 0px 5px;
}

nav ul li li {
	padding: 0;
}


nav ul li a {
	display: block;
	float: left;
	padding: 10px 10px;
    color: #999;
    font-size: 0.9em;
	margin: 0 10px;
     border-bottom: none;
	text-transform: uppercase;
	letter-spacing: 0px;
}

nav ul li a i { padding-right: 5px; }

nav ul li li a {
	float: none;
	padding: 10px 5px;
}

nav ul li a:hover {
	color: #A2CCEC;
	text-decoration: none;
}

nav ul li.selected a, nav ul li.selected a:hover {
	background: linear-gradient(#7AAA3C, #94C355);
    	background-color: #7AAA3C;
	color: #fff;
	border-radius: 5px;
}

nav ul li.selected a:hover {
	background-color: #7AAA3C !important;
	background-image: none !important;
}

nav ul li a:hover, nav ul li.sfHover a {
	background: #e0e0e0;
	background-image: none;
	color: #666;
	border-radius: 5px;
}


nav ul li a.sf-with-ul:hover, nav ul li.sfHover a {
	background-color: #e0e0e0;
	color: #666;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


 nav ul li.sfHover ul a, nav ul ul {
	background: #e0e0e0;
	color: #666;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

nav ul li.sf-with-ul.selected ul a, nav ul li.selected ul, nav ul li.selected.sfHover a  {
	background: #7AAA3C;
	color: #eee;
}

nav ul li.sf-with-ul.selected ul a:hover, nav ul li.selected.sfHover a:hover {
	color: #fff;
}

nav ul li li a:hover, nav ul li.sfHover li a:hover {
	color: #333;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
	padding-top:	0;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			26px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/* intro */
div#intro {
	background-color: #d0d0d0;
	background-image: linear-gradient(#f0f0f0, #ddd);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
}

div#intro .intro-content {
	padding: 40px 10px;
	text-align: center;
}

div#intro div.intro-content-short {
	text-align: left;
}


div#intro h2 {
	font-size: 3em;
}

div#intro h2, div#intro p {
	color: #555;
	font-weight: normal;
}

div#intro p {
	font-size: 1.3em;
	color: #999;
	line-height: 1.3em;
}

a.button-slider {
	padding: 10px 15px;
	font-size: 0.8em;
	text-align: center;
	margin: 5px 10px 5px 0;
}

a.button-slider i { padding-right: 5px; }

img {
	max-width: 100%;
	height: auto;
}

#body {
	background: none;
	margin: 25px auto 0;
 	padding: 0;
	clear: both;
}

#content {
    float: left;
}

.two-column {
	width: 66%;
}

.three-column {
	width: 46%;
	margin: 0 2%;
}

.with-right-sidebar {
	margin-right: 2%;
}

.with-left-sidebar {
	margin-left: 2%;
}


article {
    padding: 10px 10px 20px 5px;
 }

article .article-info {
    color: #c0c0c0;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.sidebar {
	margin-top: 10px;
}

.small-sidebar { 
   width: 25%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar { 
	float: left;
}

.right-sidebar {
	float: right;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	letter-spacing: -1px;
	padding: 6px 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
}

.sidebar ul li.bg {
	background-color: #f0f0f0;
}


.sidebar .bg h4 {
	color: #666;
}


.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar li ul li ul {
	margin-top: 10px;
}

.sidebar li ul li li  {
	font-size: 1.0em;
	padding-left: 15px;
}



.sidebar li ul li.text { 
	border-bottom: none;
}


.sidebar li ul li a {
	 border-bottom-color: #666;
	color: #666;
}

.sidebar li ul li a:hover {
	 border-bottom-color: #75A239;
	color: #75A239;
}


.sidebar li ul li a.readmore {
   font-weight: bold;
}


.sidebar ul.blocklist {
	border-top: 1px solid #ddd;
}

.sidebar ul.blocklist li {
	padding: 0;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover {
	border-bottom: 0;
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 12px 10px;
}

.sidebar ul.blocklist li a.selected {
	background: linear-gradient(#7AAA3C, #94C355);
    background-color: #2F65D0;
    color: #FFFFFF;
	border: 1px solid #5F842E;
	font-weight: bold;

}
.sidebar li ul.blocklist li li {
	font-size: 1.0em;
}

.sidebar li ul.blocklist ul {
	margin-top: 0;
}

.sidebar li ul.blocklist li li a,
.sidebar li ul.blocklist li li a:hover {
	padding-left: 25px;
}

.sidebar ul.newslist li {
	padding: 20px 5px;
	border-bottom: 1px dashed #ddd;
}

.sidebar ul.newslist p {
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date { 
	background-color: #7BAB3D;
	border-bottom: 1px solid #5F842E;
	color: #fff;
	padding: 5px 10px;
}




.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	background: #222;
	border-top: 2px solid #eee;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 20px 25px 30px;
}

footer .footer-content ul {
	width: 25%;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	padding: 5px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #505050;
	border-bottom-color:#505050;
    
}

footer .footer-content li {
 color: #505050;
	line-height: 1.5em;
font-size: 0.95em;
}

footer .footer-content li a:hover { 
	color: #909090;

	border-bottom-color:#909090;
}

footer .footer-content h4 {
   color: #999;
    font-size: 1.6em;
    padding-bottom: 10px;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #000;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #666;
	border-bottom-color: #666;
}

div.social-icons a {
	border-bottom: none;
	margin-right: 15px;
}


@media screen and (max-width: 740px) {

	body { font-size: 0.8em; }	

	
	header { text-align: center; }

	header h1 { float: none; text-align: center; }

	header h1 a, header h1 a:hover { float: none; padding: 5px; }

	nav { float: none; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 23px; }

	div#container { width: auto; max-width: 100%; }

	footer .footer-content ul { margin-bottom: 15px; }

	footer .footer-content ul.endfooter { margin-bottom: 0px; }

	.width { width:auto; max-width: 100%; padding-left: 10px; padding-right: 10px; }
	
	#content, aside.sidebar { float: none; width: auto; }

	#content { padding: 10px; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {


	body { font-size: 0.8em; }

	header { text-align: center; padding: 10px 0 5px; }

	header h1 a, header h1 a:hover { text-align: center;  padding: 10px; font-size: 1.1em; }

	header h1, nav { float: none; }
	
	nav { height: auto; position: relative; }

	nav ul { margin: 0; }
	
	.sf-menu ul { position: relative; width: auto; display: block; margin-top: 0; }

	nav ul ul { margin: 0px 10px 5px; border-top-right-radius: 0; }

	nav ul li { margin: 5px 0; padding: 0; float: none; }

	nav ul li a { background-color: #f0f0f0; border-radius: 5px; }

	nav ul li a, .sf-menu li { float: none; }

	nav ul li li { margin: 0; }

	div#intro .intro-content { padding: 20px 5px; }
	
	div#intro div.intro-content-short { padding: 20px 5px 10px; }

	div#body { margin-top: 10px; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 0; }


}
